.about-img {
    height: 20em; 
    width: 20em; 
    border-radius: 50%;
    margin: 2em 0;
}

@media (min-width: 700px){
    .about-img {
        height: 25em;
        width: 25em;
    }
}

@media (min-width: 850px){
    .about-img {
        height: 30em;
        width: 30em;
    }
}